/*
    Color Palette
    html gray - rgb(88, 88, 88)
    body lite purple - rgb(149, 149, 211)
    link dark purple - #692b9d
    nav link dark purple - rgb(62, 62, 160)
    nav link hover lite purple- rgb(93, 93, 217)
    blue - #AFD7F7
*/
html {
    width: 100vw;
    height: 100vh;
    background-color: rgb(88, 88, 88);
    font-family: sans-serif;
}
body {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(149, 149, 211);
    text-align: center;
}
a {
    text-decoration: none;
    color: #692b9d;
}
a:hover {
    color: rgb(93, 93, 217);
}
header {
    display: grid;
}
header h1 {
    margin-bottom: 0;
}
button {
    color: #692b9d;
}
#sign-in-or-out-toggle {
    max-width: 70px;
    max-height: 21px;
    align-self: flex-end;
    justify-self: flex-end;
    margin-bottom: 5px;
    margin-right: 3%;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(160, 160, 160);
    margin-top: 5px;
    margin-bottom: 20px;
}
nav a {
    text-decoration: none;
    color: rgb(62, 62, 160);
    padding: 3px;
}
nav a:hover {
    color: rgb(93, 93, 217);
}

main {
    margin: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-auto-flow: row;
}
main > * {
    grid-column: span 2;
}
#message-container {
    background-color: rgba(93, 93, 217, 0.673);
    padding: 5px;
    margin: 0 15%;
    font-style: italic;
}
#page-title-container {
    margin-bottom: 20px;
}
#postures-list-container,
#sequence-container {
    align-self: flex-start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.posture-wrapper {
    background-color: #AFD7F7;
    margin: 5px;
    padding: 10px;
    align-self: flex-start; 
}
.practice-wrapper {
    background-color: #8a35d0;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}
#posture-details-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;

    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(149, 149, 211);
    text-align: center;
    padding-top: 40px;
}
#practice-details-container h3,
#posture-details-container h3{
    text-align: center;
    margin-bottom: 30px;
}
.section-title {
    grid-column: 1 / span 4;
}
.sequence-wrapper {
    background-color: #692b9d;
    padding: 10px;
    margin: 5px;
    align-self: flex-start; 
}
#practice-details-container.editor {
    grid-column: 1 / span 2;
}
#sequence-container.editor {
    grid-template-columns: 1fr;
    grid-column: 1 / span 1;
}
#sequence-container.editor .section-title ,
#postures-list-container.editor .section-title{
    grid-column: 1 / span 1;
}
#postures-list-container.editor {
    grid-template-columns: 1fr;
    grid-column: 2 / span 1;
}

form {
    margin: 10px auto;
    display: grid;
    width: 50%;
}
footer {
    margin: 50px auto 0;
    padding: 2px;
    border-top: 1px solid rgb(62, 62, 160);
}
.hide {
    display: none;
}
.unsaved-changes {
    border: red 3px solid;
}


/* For screens under 700px wide */
@media (max-width:700px) { 
    #postures-list-container,
    #sequence-container {
        grid-template-columns: 1fr;
    }
    .section-title {
        grid-column: 1 / span 1;
    }
}

/* For screens under 360px wide */
@media (max-width:360px) { 
    html {
        background-color: rgb(149, 149, 211);
    }
    nav {
        display: grid;
        grid-template-columns: 1fr;
        margin: 5px 0;
    }
    main {
        grid-template-columns: 1fr; 
    }
    main > * {
        grid-column: span 1;
    }
    #postures-list-container,
    #sequence-container {
        grid-template-columns: 1fr;
    }
    #practice-details-container.editor {
        grid-column: 1 / span 1;
    }
    #postures-list-container.editor {
        grid-column: 1 / span 1;
    }
    form {
        width: 80%;
        margin: 10px auto;
    }
}