/*
    Color Palette
    html gray - rgb(88, 88, 88)
    body lite purple - rgb(149, 149, 211)
    link dark purple - #692b9d
    nav link dark purple - rgb(62, 62, 160)
    nav link hover lite purple- rgb(93, 93, 217)
    blue - #AFD7F7

*/
html {
    width: 100vw;
    height: 100vh;
    background-color: rgb(88, 88, 88);
    font-family: sans-serif;
}
body {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(149, 149, 211);
    text-align: center;
}
a {
    text-decoration: none;
    color: #692b9d;
}
a:hover {
    color: rgb(93, 93, 217);
}


header {
    display: grid;
}
header h1 {
    margin-bottom: 0;
}
button {
    color: #692b9d;
}
#sign-in-button,
#sign-out-button  {
    max-width: 58px;
    max-height: 21px;
    align-self: flex-end;
    justify-self: flex-end;
    margin-bottom: 5px;
    margin-right: 3%;
    
}
#sign-out-button  {
    max-width: 70px;
    margin-left: 2%;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(160, 160, 160);
    margin-top: 5px;
    margin-bottom: 20px;
}
nav a {
    text-decoration: none;
    color: rgb(62, 62, 160);
    padding: 3px;
}
nav a:hover {
    color: rgb(93, 93, 217);
}

main {
    margin: 0 20px;
}
#message-container {
    display: flex; 
    margin-left: 2%;
    /* margin-bottom: -40px; */

}
.back-button {
    color: #692b9d;
    /* margin-bottom: -60px;
    height: 100%; */
    
}




#page-title-container *{
    margin-bottom: 20px;
}




#editor-wrapper.editing {
    display: flex;
    gap: 25px;
    margin-top: 40px;
}
#sequence-container.editing {
    align-self: flex-start;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

#postures-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
#postures-container.editing {
    align-self: flex-start; /* this stopped the stretching */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#postures-container.editing .section-title {
    grid-column: 1 / span 3;
}
#postures-container div{
    
}
.posture-wrapper {
    background-color: #AFD7F7;
    padding: 10px;
}
.posture-wrapper button {
}
#sequence-container{
    
}
.sequence-wrapper {
    background-color: #692b9d;
    padding: 10px;
    /* margin: 10px auto; */
}





.practice-wrapper {
    background-color: #8a35d0;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}







form {
    margin: 10px auto;
    display: grid;
    width: 50%;
}
footer {
    margin: 50px auto 0;
    padding: 2px;
    border-top: 1px solid rgb(62, 62, 160);
}




.hide {
    display: none;
}